In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/train.csv")

In [5]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

Introduction About the Data : The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

In [6]:
data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [7]:
data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [8]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
106726,106726,0.78,Good,D,SI1,62.1,58.0,5.90,5.87,3.66,3107
170840,170840,1.56,Premium,E,SI1,61.1,58.0,7.45,7.51,4.57,11883
78674,78674,0.39,Ideal,I,VVS1,61.7,56.0,4.65,4.68,2.88,945
95341,95341,0.34,Ideal,H,VS1,61.9,56.0,4.52,4.56,2.81,596
188464,188464,1.51,Very Good,G,VS2,61.4,60.0,7.37,7.33,4.51,12327
69706,69706,1.68,Ideal,J,VVS1,61.3,55.0,7.67,7.64,4.69,12179
34089,34089,0.24,Very Good,E,VVS1,61.8,57.0,3.99,4.03,2.48,478
172907,172907,1.01,Very Good,D,SI2,60.3,55.0,6.49,6.53,3.92,4059
134548,134548,0.31,Ideal,G,IF,61.8,53.0,4.40,4.41,2.72,988
112799,112799,0.31,Premium,E,SI1,59.0,60.0,4.42,4.38,2.61,537

In [9]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [10]:
data.size

2129303

In [11]:
data.shape

(193573, 11)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [13]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [14]:
data.drop(labels=["id"], axis=1, inplace=True)

In [15]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [16]:
data.duplicated().sum(
)

0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [18]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [21]:
cat_column = data.columns[data.dtypes == "object"]

In [22]:
num_column = data.columns[data.dtypes != "object"]

In [23]:
cat_column

Index(['cut', 'color', 'clarity'], dtype='object')

In [24]:
num_column

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [25]:
data[cat_column]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]